.ui-selectonemenu label.ui-selectonemenu-label {
	width: initial !important;
}

.url {
	display:block;
}

.gridWithoutBorder tr, .gridWithoutBorder td {
    border: transparent;
}

body {
	max-width: 980px;
	margin: 0 auto;
	background: #feffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2RkZjFmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGQ4ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffff),
		color-stop(35%, #ddf1f9), color-stop(100%, #a0d8ef));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff',
		endColorstr='#a0d8ef', GradientType=0); /* IE6-8 */
}

legend {
	width: inherit;
	font-size: inherit;
}

.headerPanel .ui-panel-content {
	padding: 0;
}

.header-background {
	background: url(../images/header_background.jpg) no-repeat center;
}

.header-background img {
	margin: auto;
}

.ui-inputfield {
	margin-right: 10px;
	margin-bottom: 10px;
}

.ui-outputlabel {
	margin-right: 10px;
	margin-bottom: 15px;
}

.ui-button {
	margin-right: 10px;
}

.ui-selectonemenu {
	width: 175px !important;
}

.ui-selectonemenu-label {
	width: 165px !important;
	margin-bottom: 1px;
	overflow: inherit !important;
}

.ui-selectonemenu-trigger {
	width: 24px !important;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-width: 0px;
	border-style: hidden;
	border-color: inherit;
	padding: 4px 10px;
	background-color: inherit;
}

.ui-panelgrid tr, .ui-panelgrid tr td {
	  background: transparent url("../images/transparent.png") 50% top repeat-x;
}

.ui-paginator-bottom, .ui-picklist, .ui-fileupload {
	margin-bottom: 10px;
}

.ui-datagrid-data {
	background-color: inherit;
}

.ui-datagrid-content {
	border-width: 0px;
	border-style: hidden;
	border-color: inherit;
}

.ui-picklist-list {
	width: 100% !important;
}

.ui-breadcrumb-chevron {
	margin-top: 5px;
}

.site-menu {
	background: #f2f5f7
		url("images/ui-bg_highlight-hard_100_f2f5f7_1x100.png.xhtml?ln=primefaces-cupertino")
		50% top repeat-x;
	color: #362b36;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover, .dropdown-menu>li>a:focus,
	.dropdown-menu>li>a:hover, .site-menuitem a:hover, .menu-link:hover,
	.menu-link:focus {
	background: #e4f1fb
		url("images/ui-bg_glass_100_e4f1fb_1x400.png.xhtml?ln=primefaces-cupertino")
		50% 50% repeat-x;
	color: #0070a3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.menu-link {
	background: #f2f5f7
		url("images/ui-bg_highlight-hard_100_f2f5f7_1x100.png.xhtml?ln=primefaces-cupertino")
		50% top repeat-x;
	color: #362b36;
	padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.banner {
	margin: 10px auto;
}

.ui-galleria, .ui-galleria-panel-wrapper, .ui-galleria-panel {
	max-width: 100%;
}

.ui-galleria-panel-wrapper img {
	display: block;
	max-width: 100%;
	height: auto;
}

.search-paginator {
	border: none;
}

@media ( min-width : 768px) {
	.mobile-menu {
		display: none !important;
	}
	.site-menu {
		padding: 0;
		height: 43.5313px;
		padding: 4.620px;
	}
	.navbar {
		position: relative;
		min-height: 0px;
		margin-bottom: 0px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
	}
	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-nav>li>a {
		padding: 6.160px 4.620px;
	}
	.menu-link {
		margin-right: 10px;
	}
}

@media ( max-width : 768px) {
	.main-menu-bar {
		min-height: 35px;
		margin-bottom: 0;
	}
	.main-menu {
		display: none;
	}
	.banner {
		display: none;
	}
	.search-bar {
		margin: -8px -15px;
	}
	.search-bar li {
		background: #f2f5f7
			url("images/ui-bg_highlight-hard_100_f2f5f7_1x100.png.xhtml?ln=primefaces-cupertino")
			50% top repeat-x;
		color: #362b36;
		padding: 5px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
	}
	.search-bar li input {
		margin-right: 0px;
		margin-bottom: 0px;
		width: 100%
	}
	.search-bar li button {
		display: none;
	}
}